<h1> Welcome to the puppy adoption site!</h1>

<a href="/new">List a Puppy</a>

<%#The home page will also need a new view index.erb. This page should welcome you to the Puppy Adoption Site. ###ADD THIS view to the controller action.####  %>
